@model IEnumerable<HOTEL.Models.Reservation>

<h2>Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Reservation ID</th>
            <th>User ID</th>
            <th>Chambre ID</th>
            <th>Reservation Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Id</td>
                <td>@reservation.userId</td>
                <td>@reservation.ChambreId</td>
                <td>@reservation.DateReservation.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("Create", "Reservation")" class="btn btn-primary">Create New Reservation</a>
</p>
